@model DeliveryNat.Models.Pedido

@{
    ViewData["Title"] = "Details";
}
<div style="padding-bottom:25px" class="row">
    <h1><i style="color: darkslategrey" class="fa fa-circle-info"></i>&nbsp;Detalhes do Pedido</h1>
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco1)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco2)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoEnviado)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoEnviado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoEntregueEm)
        </dt>
        <dd style="background-color:#FFFACD" class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoEntregueEm)
        </dd>
    </dl>
</div>
<div style="padding-top:30px">
    <a style="background-color: green;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.PedidoId"><i class="fa fa-edit"></i>  Editar</a> 
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-circle-arrow-left"></i>  Voltar</a>
</div>
