@model ReflectionIT.Mvc.Paging.PagingList<DeliveryNat.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}
<div style="padding-bottom:15px" class="row">
    <h1> <i style="color: darkslategrey" class="fa fa-cash-register"></i>&nbsp;Pedidos</h1>
</div>

<form method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input name="filter" class="form-control" placeholder="filtro"
                       value="@Model.RouteValue["Filter"]" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-info"><i class="fa fa-magnifying-glass"></i>  Procurar</button>
            </div>
        </div>
</form>

<p style="padding-top:15px">
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> Novo Pedido</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th scope="col"> 
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Endereco1)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PedidoEnviado)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PedidoEntregueEm)
                </td >
                <td scope="row">
                    <a title="Editar pedido" asp-action="Edit" asp-route-id="@item.PedidoId"><i style="color: #4169E1" class="fa fa-edit"></i></a>
                    <a title="Detalhes do pedido" asp-action="Details" asp-route-id="@item.PedidoId"><i style="color:#4169E1" class="fa fa-search"></i></a>
                    <a title="Apagar pedido" asp-action="Delete" asp-route-id="@item.PedidoId"><i style="color:#4169E1" class="fa fa-trash"></i></a>
                    <a title="Itens do pedido" asp-action="PedidoProdutos" asp-route-id="@item.PedidoId"><i style="color:#4169E1" class="fa fa-circle-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
Total de Pedidos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>