@model Produto

<div class="col-sm-4 col-md-4 col-lg-4">
    <p style="max-width: 200px; height: 200px;">
        <img style="max-width: 160px; max-height: 160px" src="@Model.ImagemUrl" class="img-fluid">
    </p>
    <div style="text-align: initial;" class="row">
        <h3>Preço : @Model.Preco.ToString("c")</h3>

        <h4>
            <a asp-controller="Produto" asp-action="Details"
               asp-route-ProdutoId="@Model.ProdutoId">@Model.Nome</a>
        </h4>

    </div>
    <div style="text-align: initial; height: 90px" class="row">
        <p>@Model.DescricaoCurta</p>
    </div>

    <div style="padding-bottom:20px">
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
               asp-action="AdicionarItemNoCarrinhoCompra" asp-route-ProdutoId="@Model.ProdutoId">
                <i class="fa fa-shopping-basket"></i>&nbsp; Incluir item
            </a>
        </p>
        <hr />
    </div>

</div>