@model CarrinhoCompraViewModel

<div class="Container">
    <div class="row checkoutForm">

        @*<img style="max-width: 50px;" src="~/images/Full-Cart-icon.png" />*@
        <div style="padding-bottom: 20px; margin-left:-10px">
            <h4><i class="fa fa-cart-plus"></i>     Seu carrinho de compras : </h4>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Produto</th>
                        <th class="text-right">Preço</th>
                        <th class="text-right">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                    {
                        <tr>
                            <td class="text-center">@item.Quantidade</td>
                            <td class="text-left">@item.Produto.Nome</td>
                            <td class="text-right">@item.Produto.Preco.ToString("c")</td>

                            <td class="text-right">
                                @((item.Quantidade * item.Produto.Preco).ToString("c"))
                            </td>

                            <td class="text-center">
                                <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                               asp-route-ProdutoId="@item.Produto.ProdutoId">
                                    <img src="~/images/delete.png" width="10px" height="10px" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.CarrinhoCompraTotal.ToString("c")
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div style="margin-left: -10px; padding-top: 15px" class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout"> <i class="fa fa-cart-arrow-down"></i>&nbsp; Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Produto" asp-action="List"><i class="fa fa-cart-plus"></i> &nbsp;Continuar Comprando</a>
            </div>
        </div>
        <br />
    </div>
</div>

