@model IEnumerable<DeliveryNat.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1><i style="color: darkslategrey" class="fa-solid fa-store"></i>&nbsp;Categoria</h1>

<p style="padding-top:25px">
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> Nova Categoria</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId"><i style="color: #4169E1" class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId"><i style="color: #4169E1" class="fa fa-search"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId"><i style="color: #4169E1" class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
